body {
    background-color: rgb(31,29,43);
}
.content {
    display: grid;
    grid: auto / repeat(12, 1fr);
    row-gap: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#profile-photo {
    grid-row: 1 / span 4;
    grid-column: 8 / span 4;
    max-width: 400px;
    max-height: 500px;
    padding-top: 50px;
}
#wave {
    grid-row: 1;
    grid-column: 5;
    width: 80px;
    height: 80px;
    align-self: center;
    justify-self: center;
}
